body{
    align-items: center;
    font-size: 20px;
    background-color: grey;
}

.main{
    background-image: url(1056.jpg);
    width: 800px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}